$condensed-page-top-margin: 0.7in;
$condensed-page-bottom-margin: 0.55in;

html {
  font-size: 9.6pt;
}

h2 {
  margin-top: 90pt;
}

.sect1 {
  page-break-before: avoid;
}

.copyright-page {
  height: $page-height - $condensed-page-top-margin - $condensed-page-bottom-margin;
}

.half-title-page {
  height: $page-height -
    (($condensed-page-top-margin + $condensed-page-bottom-margin) * 3);
}

@page {
  margin-top: $condensed-page-top-margin;
  margin-bottom: $condensed-page-bottom-margin;

  @top-center {
    margin-top: 0.25in;
  }
}

@page:left {
  margin-left: 0.55in;
  margin-right: 0.75in;
}

@page:right {
  margin-left: 0.75in;
  margin-right: 0.55in;
}
