# package:slack
SLACK_API_TOKEN=your-token-here
SLACK_DOWNLOADS_CHANNEL=downloads

# package:cloud
CLOUD_STORAGE_REGION=us-east-1
CLOUD_STORAGE_BUCKET=your-bucket-name
CLOUD_STORAGE_ENDPOINT=https://some-s3-compat-endpoint.com
CLOUD_STORAGE_KEY=fake-deploy-key
CLOUD_STORAGE_SECRET=fake-deploy-secret
CLOUD_STORAGE_BUCKET_URL=https://s3-url.com

# package:document-meta
DOCUMENT_META_GIST_ID=your-gist-id
DOCUMENT_META_AUTH_TOKEN=your-auth-token
DOCUMENT_META_GIST_FILENAME='some-gist-filename.ext'

# package:jones
REACT_APP_OAUTH_CLIENT_ID=client-id
JONES_OAUTH_CLIENT_ID=client-id
JONES_OAUTH_CLIENT_SECRET=client-secret
JONES_OAUTH_REDIR_URI=https://editor-uri.com

# package:fell
FELL_GITHUB_TOKEN=some-github-token

# package:functions
FUNCTIONS_DB_CONNECT_STRING='your-db-connect-str';
STRIPE_PUBLISHABLE_KEY=pk_test_notsecret
STRIPE_SECRET_KEY=sk_test_secret
LULU_API_ENDPOINT=https://api.lulu.com
LULU_CLIENT_KEY=lulu-client-key
LULU_CLIENT_SECRET=lulu-client-secret
SENDGRID_API_KEY=sendgrid-api-key
ZOE_ORDER_EMAIL_USER=you@gmail.com
ZOE_ORDER_EMAIL_PASS=your-application-pass
ZOE_ORDER_EMAIL_RECIPIENT=them@gmail.com
ZOE_ORDER_RECAPTCHA_SECRET=secret

# package:cli
DOCS_REPOS_ROOT=/path/to/docs/repos
PRINCE_BIN=/usr/local/bin/prince-books
CLI_MAKE_CMD_GMAIL_PASS=application-specific-password
CLI_MAKE_CMD_GMAIL_USER=you@example.com
EN_BUILD_HOOK_URI=https://build-hook-uri.com/en
ES_BUILD_HOOK_URI=https://build-hook-uri.com/es
CHROMIUM_PATH=/path/to/chromium/executable # see chrome://version

# package:bot
BOT_WEBHOOK_PROXY_URL=https://smee.io/id
BOT_APP_ID=11111
BOT_PORT=3999
BOT_WEBHOOK_SECRET=webhook-secret
BOT_PRIVATE_KEY=private-key-str
BOT_PRODUCTION_SERVER=user@host.com
BOT_DEPLOY_PATH=/path/to/deployment
