node_modules
flow-typed
coverage
packages/phipps/vendor
packages/styleguide/dist/*
packages/types/*
packages/hilkiah/*
packages/asciidoc/*
packages/jones/*
packages/fell/*
packages/cli/*
packages/friends/*
packages/friends/*
packages/evans/*
packages/asciidoc/scripts/*
prettier.config.js
