node_modules
flow-typed
coverage
packages/phipps/vendor
packages/api/*
packages/styleguide/dist/*
packages/evans/public/*
packages/evans/.cache/*
packages/gui/build/*
packages/gui/dist/*
packages/gui/src/serviceWorker.js
