node_modules
flow-typed
coverage
packages/phipps/vendor
packages/styleguide/dist/*
packages/hilkiah/*
packages/asciidoc/*
packages/jones/*
packages/friends/*
packages/evans/public/*
packages/evans/.cache/*
packages/jones/build/*
packages/asciidoc/scripts/*
prettier.config.js
