{
  extends: "stylelint-config-recommended",
  rules: {
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
          "footnotes",
          "bottom-center",
          "top-center",
          "/^page/"
        ]
      }
    ],
    "declaration-block-trailing-semicolon": null,
    "property-no-unknown": [
      true,
      {
        ignoreProperties: [
          "footnote-style-position",
          "/^::footnote/",
          "/^prince/"
        ]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        ignorePseudoElements: [
          "/^footnote/"
        ]
      }
    ]
  }
}
