$running-head-title: "Style guide";
$page-width: 5.5;
$page-height: 8.5;
$page-top-margin: 0.85;
$page-bottom-margin: 0.65;
$page-outer-margin: 0.6;
$page-inner-margin: 0.7;
$running-head-margin-top: 0.35;

.rendered-adoc {
