h2,
h3,
h4,
h5 {
  line-height: 1.5em;
}

h2 {
  text-align: center;
}

h2 span.line,
.chapter-heading__title span.line {
  display: block;
  line-height: 1.5em;
}

.line-2 {
  font-size: 0.9em;
}

.line-3 {
  font-size: 0.8em;
}

.chapter-heading__sequence {
  font-weight: 400;
}

.chapter-heading__title {
  text-align: center;
  font-weight: 700;
}

.chapter-heading--blurb h2 {
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}

.chapter-subtitle--blurb {
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  text-align: center;
  margin: -1em 0 2.25em;
}

h3 + h4 {
  margin-top: 0;
}

.epigraphs {
  margin-top: 30%;
  text-align: center;
  page: epigraphs;
}

@page epigraphs {
  @bottom-center {
    content: normal;
  }
}

.epigraph {
  font-style: italic;
}

.epigraph__source {
  font-size: 0.9em;
  white-space: nowrap;
}

.epigraph__source::before {
  content: '(';
}

.epigraph__source::after {
  content: ')';
}

.epigraph--not-first::before {
  content: '*\00a0\00a0\00a0\00a0\00a0*\00a0\00a0\00a0\00a0\00a0*';
  margin-top: 2.5em;
  padding-bottom: 2em;
  display: block;
}

.verse {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
  text-align: center;
  font-size: 95%;
}

.verse__stanza {
  display: block;
  margin-bottom: 1.4em;
}

.verse__line {
  display: block;
  line-height: 1.6em;
}

.signed-section-context-open p {
  margin-top: 2em;
  margin-bottom: 0;
}

.signed-section-context-open + .paragraph {
  margin-top: 0.75em;
}

.signed-section-context-open,
.signed-section-context-close {
  font-style: italic;
  font-size: 0.9em;
}

.signed-section-context-close p {
  margin-bottom: 2.5em;
}

.signed-section-closing p {
  text-align: right;
  margin-top: 0.5em;
}

.signed-section-closing + .signed-section-signature {
  margin-top: -0.5em;
}

.signed-section-context-open + .salutation p {
  margin-top: 0.75em;
}

.signed-section-context-open + .signed-section-context-open p {
  margin-top: 0.1em;
}

.signed-section-signature {
  margin-top: 0.45em;
  margin-bottom: 2.5em;
  padding-left: 3em;
  font-variant: small-caps;
}
.signed-section-signature p {
  margin-top: 0;
}

.paragraph + .postscript {
  margin-top: 1em;
}

.signed-section-context-close + .postscript {
  margin-top: -1em;
}

.signed-section-signature + .postscript {
  margin-top: -1.5em;
}

.postscript .paragraph:first-of-type p {
  text-indent: 0;
}

.signed-section-signature p,
.signed-section-context-close p {
  text-align: right;
  text-indent: 0;
}

.salutation p {
  margin-bottom: 0.5em;
}

.letter-heading {
  margin: 2.25em 0 0.5em;
}

.letter-heading p {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 700;
  text-align: center !important;
  text-indent: 0 !important;
  margin: 0;
}

.letter-heading + .signed-section-context-open {
  margin-top: -0.65em;
}

.signed-section-signature + .signed-section-context-close,
.signed-section-context-close + .signed-section-context-close,
.signed-section-signature + .signed-section-signature {
  margin-top: -2.5em;
}

.paragraph.no-indent p {
  text-indent: 0;
}

/* chicago manual of style says first para of blockquote should not be indented */
blockquote .paragraph:first-of-type p {
  text-indent: 0;
}

.quoteblock.scripture blockquote p {
  font-style: italic;
}

h3.blurb,
h4.blurb,
.paragraph.blurb p {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.chapter-synopsis p {
  font-style: italic;
  text-align: center;
  font-size: 0.85em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.offset + .signed-section-context-open,
.offset + .salutation {
  margin-top: -0.5em;
}

.offset + .embedded-content-document {
  margin-top: -0.25em;
}

.offset + .embedded-content-document .content .letter-heading {
  margin-top: 1.5em;
}

.offset p,
.numbered p {
  text-align: justify;
}

.numbered p {
  margin-bottom: 0;
  margin-top: 1em;
}

.numbered-group {
  margin-bottom: 1em;
}

.discourse-part p {
  margin-bottom: 0;
  text-align: justify;
}

.small-break {
  height: 1em;
}

.fn-split {
  display: block;
  height: 0.5em;
}

.the-end {
  text-transform: uppercase;
  margin-top: 3em;
}

.the-end p {
  text-align: center;
}

h3.old-style {
  margin-top: 2.75em;
  text-align: center;
}

h3.old-style span:first-child,
h2 > .line-1 {
  margin-bottom: 0.5em;
}

h3.old-style span,
h2 > .line {
  display: block;
  line-height: 1.5em;
}

h3.old-style span + span,
h2 > .line + .line {
  font-weight: 400;
  font-style: italic;
}

h3.old-style.bold span + span {
  font-weight: 700;
  font-style: normal;
}

h3.old-style.bold span + span em {
  font-style: normal;
}

h3.alt,
h4.alt {
  font-weight: 400;
  font-style: italic;
}

.centered {
  text-align: center !important;
  text-indent: 0 !important;
}
.centered > * {
  text-align: center !important;
  text-indent: 0 !important;
}

.emphasized {
  font-style: italic;
}

.emphasized > * {
  font-style: italic;
}

.weight-normal,
.weight-normal > * {
  font-weight: 400;
}

.small-caps > *:first-child {
  font-variant: small-caps;
}

dl {
  margin-top: 1.5em;
}

dt {
  font-weight: 700;
}

.embedded-content-document {
  margin: 1.35em 0 1.35em;
}

.half-title-page .editor {
  font-style: italic;
  text-align: center;
  font-size: 0.65em;
}

.book-title {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.syllogism ul {
  padding-left: 0;
  margin-left: 2.5em;
}

.syllogism li {
  font-style: italic;
}

.x-small {
  font-size: 0.7em;
}

.heading-continuation-blurb + .heading-continuation-blurb {
  margin-top: -0.75em;
}

.heading-continuation-blurb {
  margin-bottom: 1.75em;
}

.section-summary-preface p,
.heading-continuation-blurb p {
  font-style: italic;
  padding-left: 1.5em;
}

.heading-continuation-blurb p {
  font-size: 0.95em;
}

.section-summary-preface {
  margin-bottom: 1em;
}

.section-summary-preface p:first-of-type,
.heading-continuation-blurb p:first-of-type {
  text-indent: -1.5em;
}

.emphasized p em,
.blurb > em,
.section-summary-preface p em,
.section-author p em,
.heading-continuation-blurb p em {
  font-variant: small-caps;
  font-style: normal;
  font-size: 1.07em;
  padding-left: 0.1em;
  hyphens: none !important;
}

.section-author p {
  font-style: italic;
  text-align: center !important;
  text-indent: 0 !important;
}

.section-author + .heading-continuation-blurb {
  margin-top: 1.5em;
}

.section-date {
  margin: 1.5em 0;
}

.section-date p {
  text-align: center !important;
  text-indent: 0 !important;
}

.section-date p::before {
  content: '[';
  font-style: italic;
  padding-right: 0.1em;
}

.section-date p::after {
  content: ']';
  font-style: italic;
}

.section-epigraph blockquote {
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-left-width: 0;
}

.section-epigraph blockquote .paragraph p {
  font-size: 0.9em;
  padding-left: 0;
}
