@page {
  @footnotes {
    background: url(line.svg) no-repeat top left;
    padding-left: 12pt;
    padding-top: 1pt;
    margin-top: 8px;
    footnote-style-position: outside;
  }

  @bottom-center {
    content: counter(page);
    font-size: 0.9rem;
    padding: 0 !important;
    vertical-align: text-top;
    margin-top: 5pt;
  }

  @top-center {
    font-size: 0.8rem;
    font-style: italic;
  }
}

@page:left {
  @top-center {
    content: "{{{ header.title }}}";
  }
}

@page:right {
  @top-center {
    content: string(chapter, last);
  }
}

@page:first {
  @top-center {
    content: normal;
  }
}

body {
  font-family: Georgia, serif;
}

div.asterism {
  text-align: center;
  letter-spacing: 0.15em;
  vertical-align: middle;
  line-height: 2em;
  margin: 1em 0 0.6em 0;
  page-break-before: avoid;
  page-break-after: avoid;
  page-break-inside: avoid;
}


div.paragraph p {
  text-indent: 1.5em;
  text-align: justify;
  margin: 0;
  widows: 2;
  orphans: 2;
  hyphens: auto;
}

h2 {
  margin-top: 160pt;
  margin-bottom: 24pt;
  text-align: center;
  prince-page-group: start; /* allows to target @page:first for pages starting chapters */
  string-set: chapter content();
}

h2 span {
  display: block;
}

span.chapter-title__prefix {
  font-weight: 400;
  margin-bottom: 3pt;
}

span.chapter-title__body {
  string-set: chapter content();
}

.own-page {
  page-break-before: always;
  page-break-after:  always;
}

#footnotes {
  display: none;
}

*::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  line-height: none
}

*::footnote-marker {
  content: counter(footnote);
  padding-right: 7pt;
  opacity: 0.9;
}

.footnote {
  float: footnote;
  padding-top: 0.6em;
  text-indent: 0;
}

.blank-page {
  page: blank;
}

@page blank {
  @bottom-center {
    content: normal;
  }
  @top-center {
    content: normal;
  }
}
@page:blank {
  @bottom-center {
    content: normal;
  }
  @top-center {
    content: normal;
  }
}

/* typography */
body {
  font-size: 1.06rem;
}

p {
  line-height: 139%;
}

h2 {
  font-size: 1.2rem;
}

span.chapter-title__prefix {
  font-size: 1.1rem;
}

*::footnote-call {
  font-size: 0.83rem;
}

*::footnote-marker {
  font-size: 0.8rem;
}

.footnote {
  font-size: 0.85rem;
  line-height: 113%;
}

.copyright-page {
  font-size: .95rem;
}

.half-title-page .byline {
  font-size: 1.3rem;
}

.originally-titled__title {
  font-size: 1.3rem;
}

blockquote div.paragraph p {
  line-height: 130%;
}

blockquote {
  margin-right: 0;
  margin-left: 1em;
  border-left: dotted 1px #aaa;
}

blockquote div.paragraph p {
  padding-left: 1.65em;
}

/* chicago manual of style says first para of blockquote should not be indented */
blockquote div.paragraph:first-of-type p {
  text-indent: 0;
}

div.paragraph.no-indent p {
  text-indent: 0;
}

.attribution {
  text-align: right;
  font-style: italic;
  font-size: 0.85rem;
  margin-bottom: 1.5em;
  margin-top: -1em;
}
