.FriendMetaBlock .FriendMeta {
  min-height: 24rem;
}

.FriendMetaBlock .FriendMeta:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

@screen sm {
  .FriendMetaBlock .FriendMeta {
    min-height: 20rem;
  }
}

@screen md {
  .FriendMetaBlock .FriendMeta {
    min-height: 24rem;
  }
}

@screen lg {
  .RelatedBooks .RelatedBookCard:nth-of-type(odd) {
    border-right-width: 2em;
    border-style: solid;
  }
}

@screen xl {
  .FriendMetaBlock .FriendMeta {
    width: 22rem;
  }

  .RelatedBooks .RelatedBookCard:nth-of-type(odd) {
    border-right-width: 0;
  }

  .RelatedBooks .RelatedBookCard {
    max-width: 30rem;
  }
}
