.FriendMetaBlock .FriendMeta {
  min-height: 24rem;
}

.FriendMetaBlock .FriendMeta:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

@screen sm {
  .FriendMetaBlock .FriendMeta {
    min-height: 20rem;
  }
}

@screen md {
  .FriendMetaBlock .FriendMeta {
    min-height: 24rem;
  }
}

@screen xl {
  .FriendMetaBlock .FriendMeta {
    width: 22rem;
  }
}
