.SlideoverMenu header {
  border-color: rgba(95, 43, 58, 1);
}

.SlideoverMenu .Logo {
  fill: white;
  width: 140px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.SlideoverMenu ul::after {
  content: '';
  height: 4px;
  width: 150px;
  display: block;
  background: white;
  margin-top: 1.95rem;
  margin-left: 0.925rem;
  opacity: 0.25;
}

.SlideoverMenu ul:last-child::after {
  display: none;
}

.SlideoverMenu .Search {
  background: white;
  border-width: 0;
}

.SlideoverMenu .LinkGroup a:hover {
  opacity: 0.6;
  color: rgb(200, 129, 151);
}

.SlideoverMenu .LinkGroup a::after {
  opacity: 0;
  content: ']';
  padding-left: 0.4rem;
}

.SlideoverMenu .LinkGroup a::before {
  opacity: 0;
  content: '[';
  padding-right: 0.4rem;
}

.SlideoverMenu .LinkGroup a:hover::after {
  opacity: 1;
}

.SlideoverMenu .LinkGroup a:hover::before {
  opacity: 1;
}
