.FilterSelectDropdown::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

[data-reach-accordion-panel] {
  outline: none;
}

[data-reach-accordion-button][data-disabled] {
  cursor: not-allowed;
}

[data-reach-accordion-item] {
  @apply border-flgray-200;
}

[data-reach-accordion-item][data-state='collapsed'] + [data-reach-accordion-item] {
  @apply border-t;
}
[data-reach-accordion-button][data-state='collapsed'] .fa-chevron-down {
  display: none;
}

[data-reach-accordion-button][data-state='open'] .fa-chevron-up {
  display: none;
}

.FilterSelectDropdown__Item:hover .fa-times-circle {
  /* background-color:  */
  @apply text-flgray-500;
}
