#TimelineBlock .BookSlider {
  z-index: 0;
}

@screen sm {
  #TimelineBlock .BookSlider {
    z-index: 1;
  }
}

#TimelineBlock_Hero,
#TimelineBlock_Hero::before,
#TimelineBlock_Hero::after {
  background-size: 1200px auto;
  background-position: center 0%;
  overflow: visible;
}

.TimelineBlock__BgWord::after {
  padding-top: 75px;
  color: white;
  z-index: 3;
  font-size: 90px;
}

@screen sm {
  #TimelineBlock_Hero,
  #TimelineBlock_Hero::before,
  #TimelineBlock_Hero::after {
    background-size: cover;
  }

  .TimelineBlock__BgWord::after {
    padding-top: 38px;
    font-size: 130px;
  }
}

@supports (writing-mode: vertical-lr) {
  #TimelineBlock .YearBar {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
