$bg: brown;

html {
  font-size: 1in;
  background: $bg;
  color: white;
  font-family: "Bodoni 72 Smallcaps", Georgia, serif;
}

html.size--s {
  font-size: 0.85in;

  .title {
    padding: 1em 0.5em;
  }
}

html.size--xl,
html.size--xxl {
  font-size: 1.1in;
}

h1, h2 {
  font-weight: 400 !important;
}

$isbn-img-width: 348px;
$isbn-img-height: 176px;
$isbn-multiplier: 0.4;
$isbn-img-padding: 0.08in;
$isbn-offset: 0.2in;

img#isbn {
  display: none;
  position: absolute;
  bottom: $trim + $safety + $isbn-offset;
  right: $page-width + $spine-width + $safety + $fold + $fold + $isbn-offset;
  width: $isbn-img-width * $isbn-multiplier;
  height: $isbn-img-height * $isbn-multiplier;
  padding: $isbn-img-padding;
  background: #fff;
}

@page {
  size: $cover-width $cover-height landscape;
  margin: 0;
}

.blurb,
.subtitle {
  position: absolute;
  hyphens: auto;
  text-indent: 1.4em;
  width: $page-width - (2 * $safety);
  top: $trim + $safety;
  left: $trim + $safety;
  font-family: Georgia, serif;
  font-size: 0.18rem;
  padding: 0 0.22rem;
  line-height: 1.4em;
  box-sizing: border-box;
  text-align: justify;
  // color: #000;
}

.subtitle {
  left: auto;
  right: $trim + $safety;
  top: 2.65in;
  text-align: center;
  font-size: 0.24rem;
  padding: 0 1rem;
  text-indent: 0;
  font-style: italic;

  span {
    font-style: normal;
    font-size: 0.33rem;
  }

  em {
    display: block;
    transform: translateY(-3px);
    font-size: 0.15rem;
  }
}

.title,
.author,
.publisher {
  position: absolute;
  width: $page-width - (2 * $safety);
  right: $trim + $safety;
  text-align: center;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.title {
  margin-top: -0.2in;
  font-size: 0.65rem;
  padding: 1em 0.7em;
  top: $trim + $safety;
}

.publisher {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 0.12rem;
  font-style: italic;
  bottom: $trim + $safety + $safety + 0.1in;
}

.author {
  font-size: 0.24rem;
  font-style: italic;
  bottom: $trim + $safety + $safety + 0.25in;
}

.spine-title,
.spine-author {
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  position: absolute;
  writing-mode: vertical-rl;
  line-height: $spine-width;
}

.spine-author {
  font-size: 0.22rem;
  font-style: italic;
  bottom: $trim + $safety + $trim;
  text-align: right;
}

.spine-title {
  font-size: 0.32rem;
  width: $spine-width;
  top: $trim + $safety + $trim;
}

.trim,
.safety,
.dimensions {
  display: none;
  position: absolute;
}

.guides {
  .trim,
  .safety,
  .dimensions {
    display: block;
  }
}

.dimensions {
  font-size: 10px;
  top: 1px;
  left: 1px;
}
code + code {
  margin-left: 1.2em;
}

.trim {
  background-color: #c6ebf2;

  &--l {
    top: 0;
    left: 0;
    width: $trim;
    height: $cover-height;
  }

  &--r {
    top: 0;
    right: 0;
    width: $trim;
    height: $cover-height;
  }

  &--t {
    top: 0;
    left: 0;
    height: $trim;
    width: $cover-width;
  }

  &--b {
    bottom: 0;
    left: 0;
    height: $trim;
    width: $cover-width;
  }
}

.safety {
  background-color: #6ac3d2;

  &--spine {
    border: ($safety + $fold) solid #6ac3d2;
    width: $spine-width - (2 * $fold);
    height: $cover-height;
    background-color: $bg;
    z-index: -1;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  &--l {
    top: $trim;
    left: $trim;
    width: $safety;
    height: $cover-height - (2 * $trim);
  }

  &--r {
    top: $trim;
    right: $trim;
    width: $safety;
    height: $cover-height - (2 * $trim);
  }

  &--t {
    top: $trim;
    left: $trim;
    height: $safety;
    width: $cover-width - (2 * $trim);
  }

  &--b {
    bottom: $trim;
    left: $trim;
    height: $safety;
    width: $cover-width - (2 * $trim);
  }
}
