.FeaturedBooks {
  background: #f9f9f9 url(../images/woodgrain.svg) repeat;
  background-size: cover;
  background-position: center center;
}

.FeaturedBooks .BooksViewer {
  width: calc(100vw - (100vw - 100%));
}

.FeaturedBooks .BookWrap {
  width: 500vw;
}

@screen md {
  .FeaturedBooks {
    background-size: 200%;
  }
}

@screen lg {
  .FeaturedBooks {
    background-size: 150%;
  }
}
