.Hero__text {
  background: linear-gradient(rgba(45, 42, 41, 0.75), rgba(45, 42, 41, 0.75)),
    url(../images/tree-roots.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

@screen md {
  .Hero__text {
    background: none;
  }
  .Hero__bg {
    background: linear-gradient(rgba(108, 49, 66, 0.5), rgba(108, 49, 66, 0.5)),
      url(../images/tree-roots.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  .Hero__bg:lang(es) {
    background: linear-gradient(rgba(193, 140, 89, 0.5), rgba(193, 140, 89, 0.5)),
      url(../images/tree-roots.jpg);
  }
}
