.MultiBookBgBlock {
  background: radial-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.925) 75%),
    url(../images/explore-books.jpg);
  background-size: cover;
}

.MultiBookBgBlock--bright {
  background: radial-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.6) 65%),
    url(../images/explore-books.jpg), linear-gradient(#444, #444);
}
