@media (min-width: 500px) {
  #NotFoundHeroBlock,
  #NotFoundHeroBlock::before,
  #NotFoundHeroBlock::after {
    background-size: 1500px;
    background-position: center 80%;
  }
}

#NotFoundHeroBlock form {
  background-color: rgba(0, 0, 0, 0.55);
}

#NotFoundHeroBlock input {
  background-color: rgba(255, 255, 255, 0.75);
}
