.Btn {
  @apply rounded-full font-sans text-center uppercase tracking-wider;
  height: 60px;
  line-height: 60px;
  transition: background-color 240ms ease-out;
}

.Btn:focus {
  @apply outline-none shadow-outline;
}
