.DownloadOptions::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  margin-left: -15px;
  margin-top: -15px;
}
