.Heading {
  margin-bottom: 2.5rem;
}

.Heading::after {
  content: '';
  display: block;
  margin-top: 1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  @apply bg-gray-900;
}

.Heading--darkbg::after {
  background: white;
}

.Heading--left::after {
  margin-left: 0;
}

@screen sm {
  .Heading {
    margin-bottom: 3rem;
  }

  .Heading::after {
    margin-top: 2rem;
  }

  .Heading--sm-left::after {
    margin-left: 0;
  }
}

@screen md {
  .Heading--md-left::after {
    margin-left: 0;
  }
}

@screen lg {
  .Heading--lg-left::after {
    margin-left: 0;
  }
}

@screen xl {
  .Heading--xl-left::after {
    margin-left: 0;
  }
}
