.Nav {
  height: 70px;
  padding: 0 20px 0 0;
}

.Nav .Logo:lang(en) {
  width: 140px;
}

.Nav .Logo:lang(es) {
  width: 190px;
  transform: translateY(4px);
}

@media (max-width: 670px) {
  .Nav.searching .Logo {
    width: 145px;
  }
}

@media (max-width: 570px) {
  .Nav.searching .Logo {
    width: 100px;
  }
}

@media (min-width: 545px) {
  .Nav .Logo:lang(en) {
    width: 150px;
  }

  .Nav .Logo:lang(es) {
    width: 210px;
  }

  .Nav .Search {
    display: block;
  }
}
