.RelatedBookCard .book-wrap {
  background-image: linear-gradient(transparent 0%, transparent 25%, white 25%);
}

.RelatedBookCard .Cover--scope-1-4 {
  display: none;
}

@screen md {
  .RelatedBookCard .book-wrap {
    transform: translateY(65px);
  }
}

@screen lg {
  .RelatedBookCard .book-wrap {
    transform: none;
  }
}

@screen xl {
  .RelatedBookCard .book-wrap {
    transform: translateY(-75px);
  }

  .RelatedBookCard h5,
  .RelatedBookCard .description {
    text-align: left;
    padding-left: 202px;
    margin-bottom: 0.5rem;
  }

  .RelatedBookCard .description {
    padding-left: 135px;
  }

  .RelatedBookCard .Cover--scope-1-3 {
    display: none;
  }

  .RelatedBookCard .Cover--scope-1-4 {
    display: block;
  }
}
