.Search {
  height: 40px;
  width: 40px;
}

html[lang='es'] .Search.expanded {
  background-color: rgb(193, 140, 89, 0.05);
}

html[lang='en'] .Search.expanded {
  background-color: rgb(108, 49, 66, 0.05);
}

.Search.expanded {
  width: 240px;
}

.Search input {
  left: 20px;
  height: 38px;
  width: calc(100% - 40px - 4%);
  font-size: 18px;
  line-height: 30px;
  padding-right: 4%;
}

.Search.expanded input {
  display: block;
}

.Search input::placeholder {
  opacity: 0.5;
}

.Search input:focus {
  outline-width: 0;
}

.Search .mg {
  top: 1.5%;
  height: 40px;
  width: 40px;
}

.Search .glass {
  top: 23%;
  left: 23%;
  width: 34%;
  height: 34%;
  border-width: 3px;
}

.Search .handle {
  width: 27%;
  height: 3px;
  transform: rotate(39deg);
  border-radius: 2px;
  top: 55%;
  left: 48%;
}
