.SlideoverMenu .Logo {
  width: 140px;
}

.SlideoverMenu .Logo:lang(es) {
  width: 190px;
  height: 45px;
}

.SlideoverMenu ul::after {
  content: '';
  height: 4px;
  width: 150px;
  display: block;
  background: white;
  margin-top: 1.95rem;
  margin-left: 0.925rem;
  opacity: 0.25;
}

.SlideoverMenu ul:last-child::after {
  display: none;
}

html[lang] .SlideoverMenu .Search {
  background: white;
  border-width: 0;
}

.SlideoverMenu .LinkGroup a:hover {
  opacity: 0.6;
  color: rgb(200, 129, 151);
}

.SlideoverMenu:lang(es) .LinkGroup a:hover {
  @apply text-flgold-800;
}

.SlideoverMenu .LinkGroup a::after {
  opacity: 0;
  content: ']';
  padding-left: 0.4rem;
}

.SlideoverMenu .LinkGroup a::before {
  opacity: 0;
  content: '[';
  padding-right: 0.4rem;
}

.SlideoverMenu .LinkGroup a:hover::after {
  opacity: 1;
}

.SlideoverMenu .LinkGroup a:hover::before {
  opacity: 1;
}
