@tailwind base;
@tailwind components;

:root {
  /* prevent js errors from @reach/dialog */
  --reach-dialog: 1;
}

.btn {
  @apply block rounded-full font-sans text-center uppercase tracking-wider text-white;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.subtle-focus:focus {
  @apply outline-none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.25);
}

.bracketed::before {
  content: '[';
  padding-right: 0.4em;
}

.bracketed::after {
  content: ']';
  padding-left: 0.4em;
}

.fl-underline {
  padding-bottom: 0.5em;
  background-image: linear-gradient(
    to top,
    currentColor 0%,
    currentColor 0.2em,
    transparent 0.2em
  );
}

.strong-link {
  @apply text-flprimary font-bold antialiased tracking-wider fl-underline font-sans;
}

.body-text {
  @apply font-serif antialiased text-gray-800 text-base tracking-wide leading-relaxed;
}

.heading-text {
  @apply font-sans text-flgray-900 text-2xl tracking-widest font-bold antialiased text-center;
}

.blur {
  filter: blur(10px);
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.transition-ease-out-1\/4s {
  transition: 0.25s ease-out;
}

@tailwind utilities;
