@tailwind base;
@tailwind components;

:root {
  /* prevent js errors from not including @reach CSS */
  --reach-dialog: 1;
  --reach-accordian: 1;
}

.subtle-focus:focus {
  @apply outline-none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.25);
}

.bracketed::before {
  content: '[';
  padding-right: 0.4em;
}

.bracketed::after {
  content: ']';
  padding-left: 0.4em;
}

.fl-underline {
  padding-bottom: 0.5em;
  background-image: linear-gradient(
    to top,
    currentColor 0%,
    currentColor 0.2em,
    transparent 0.2em
  );
}

.diamonds li {
  position: relative;
}

.diamonds li:before {
  content: '\25c6';
  position: absolute;
  left: -1.35em;
  color: rgb(108, 49, 66);
}

:lang(es) .diamonds li:before {
  color: rgb(193, 140, 89);
}

.strong-link {
  @apply text-flprimary font-bold antialiased tracking-wider fl-underline font-sans;
}

.body-text {
  @apply font-serif antialiased text-gray-800 text-base tracking-wide leading-relaxed;
}

.body-text i,
.body-text em,
.MDX blockquote.italic p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.825em;
  @apply tracking-wider subpixel-antialiased;
}

.MDX blockquote.italic p {
  font-size: 1em;
}

.sans-wide {
  @apply font-sans tracking-wide;
}

.sans-wider {
  @apply font-sans tracking-wider;
}

.heading-text {
  @apply font-sans text-flgray-900 text-2xl tracking-widest font-bold antialiased text-center;
}

.blur {
  filter: blur(10px);
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.transition-ease-out-1\/4s {
  transition: 0.25s ease-out;
}

.MDX blockquote > p {
  margin: 0;
  padding: 0;
}

@tailwind utilities;
