html {
  font-size: 12.5pt;
}

.blank-page {
  display: none;
}

@page {
  size: 8.5in 11in;
  margin: 0.75in;
  margin-bottom: 0.95in;

  @footnotes {
    margin-top: 1.5rem;
  }

  @top-center {
    content: normal !important;
  }

  @bottom-center {
    margin-top: 0.2in;
  }
}

/* typography tweaks */
p {
  font-size: 0.875rem;
  line-height: 160%;
}

.paragraph p {
  text-indent: 0;
}

.paragraph + .paragraph {
  margin-top: 0.85rem;
}

blockquote .paragraph + .paragraph {
  margin-top: 0.7rem;
}

blockquote {
  margin-right: 0;
  padding-right: 0;
  border-left: dotted 1px #aaa;
}

.toc p {
  font-size: 0.95rem;
}

blockquote .paragraph p {
  font-size: 0.8rem;
}

.footnote {
  font-size: 0.75rem;
}

.half-title-page {
  height: 8in; /* 11 minus margins, minus fudge */
}

.copyright-page {
  height: 9in; /* 11 minus margins */
}

.original-title-page,
.copyright-page,
.toc {
  display: none;
}

div.asterism {
  font-size: 0.81rem;
}

h2 {
  margin-top: 60pt;
}
