.DocBlock {
  background-image: linear-gradient(
    transparent 0%,
    transparent 105px,
    rgb(240, 240, 240) 105px,
    rgb(240, 240, 240) 375px,
    transparent 375px
  );
}

.DocMeta a:link {
  border-bottom: 1px dashed currentColor;
  cursor: pointer;
}

@screen md {
  .DocMeta ul {
    width: 100%;
    padding: 0 5em;
    column-count: 3;
    column-width: 20vw;
    column-gap: 20px;
  }

  .DocMeta li {
    break-inside: avoid-column;
  }
}

@screen xl {
  .DocBlock {
    background-image: linear-gradient(
      transparent 0%,
      transparent 105px,
      rgb(240, 240, 240) 105px,
      rgb(240, 240, 240) 510px,
      transparent 510px
    );
  }

  .DocBlock .TopWrap {
    max-width: 80rem;
  }

  .DocMeta ul {
    padding: 0 0 0 1.5em;
    column-width: 10vw;
  }
}

.DocBlock .Btn span {
  position: relative;
}

.DocBlock .Btn:nth-of-type(3) span::after,
.DocBlock .Btn:first-of-type span::after {
  content: 'FREE';
  background: rgba(0, 0, 0, 0.6);
  font-size: 60%;
  padding: 2px 5px;
  border-radius: 500px;
  position: absolute;
  height: 15px;
  top: -7px;
  right: -35px;
  line-height: 1.2em;
}

.DocBlock:lang(es) .Btn:nth-of-type(3) span::after,
.DocBlock:lang(es) .Btn:first-of-type span::after {
  content: 'GRATIS';
  right: -45px;
  background: rgba(0, 0, 0, 0.45);
}
