body {
  background: #eaeaea;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cover-wrap {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  margin: 0 auto;
}

.cover * {
  user-select: none;
}

.cover-mask {
  display: none;
  outline: #eaeaea solid 5px;
}

.mask-bleed .cover-mask {
  display: block;
}

.mask-bleed .guide--trim-bleed {
  opacity: 0;
}

.ebook .Toolbar,
.ebook form {
  display: none !important;
}
