.intermediate-title h4,
.intermediate-title h3,
.intermediate-title .paragraph p {
  line-height: 150%;
  text-align: center;
}

.intermediate-title .chapter-heading h2 {
  font-size: 1.35em;
  margin-bottom: 1em;
}

.intermediate-title h3 {
  font-size: 1.2em;
  font-variant: small-caps;
  margin-bottom: 1.75rem;
}
