h2 {
    margin-top: 160pt;
    margin-bottom: 24pt;
    prince-page-group: start; /* allows to target @page:first for pages starting chapters */
  }

h2.chapter-heading__sequence {
  margin-bottom: 0.65rem;
}

.chapter-heading__title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
