html {
  font-size: 10pt;
}

@page {
  size: $page-width $page-height;
  margin-top: $page-top-margin;
  margin-bottom: $page-bottom-margin;

  @top-center {
    margin-top: $running-head-margin-top;
  }
}

@page:left {
  margin-left: $page-outer-margin;
  margin-right: $page-inner-margin;
}

@page:right {
  margin-left: $page-inner-margin;
  margin-right: $page-outer-margin;
}

h2 {
  margin-top: $page-height / 4;
  prince-page-group: start; /* forces new page & allows target @page:first for pages starting chapters */
}

.sect1 {
  page-break-before: recto; /* keep start of chapters on recto */
}

.copyright-page {
  height: $page-height - $page-top-margin - $page-bottom-margin;
}

.half-title-page {
  height: $page-height - (($page-top-margin + $page-bottom-margin) * 3);
}

blockquote .paragraph p {
  font-size: 0.98rem;
}

blockquote .paragraph + .paragraph {
  margin-top: 0.4em;
}

.first-chapter {
  counter-reset: page 1;
}

.content-signed-section {
  margin-left: 1.3em;
  font-family: "Times New Roman", Palatino, Arial, serif;
}

.paragraph + .content-signed-section {
  margin-top: 1.35em;
}

.content-signed-section + .paragraph {
  margin-top: 1.35em;
}

.content-signed-section + .content-signed-section {
  margin-top: 0;
}



// lol
h1 {
  font-size: 45px;
}

p.byline {
  span {
    display: block;
    font-size: 1.5em;
  }
}

.editor {
  transform: translateY(80px);
}

.lol-bio {
  margin: 0.75in 0 1in 0;
  font-style: italic;
  span {
    font-style: normal;
    display: block;
    font-weight: 700;
  }
}

body .half-title-page {
  height: 6.5in !important;
}
