// really large books, 6"x9" like Daniel Wheeler and William Sewel

html {
  font-size: 9.6pt;
}

h2 {
  margin-top: 90pt;
}

.sect1 {
  page-break-before: avoid;
}

.half-title-page {
  height: 19cm;
}

.copyright-page {
  height: 20cm;
}

@page {
  size: 6in 9in;
  margin-top: 0.7in;
  margin-bottom: 0.55in;

  @top-center {
    margin-top: 0.25in;
  }
}

@page:left {
  margin-left: 0.45in;
  margin-right: 0.85in;
}

@page:right {
  margin-left: 0.85in;
  margin-right: 0.45in;
}

.signed-section-signature {
  margin-top: 0;

  p {
    margin-top: 0;
  }
}
