.Nav {
  position: fixed;
  width: 100%;
  z-index: 500; /* should be higher than just about everything */
}

p.lead {
  font-size: 1.2em;
  font-style: italic;
}

.Site--blur .Nav,
.Site--blur .Content {
  filter: blur(6px);
}

.Menu--open .Slideover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
