.CompilationsBlock {
  background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
    url(../../images/village.jpg);
  background-size: cover;
  background-position: center center;
}

@screen sm {
  .CompilationsBlock {
    background-size: 1500px;
    background-position: center 700px;
  }
}
