.CartInput {
  @apply w-full rounded-none bg-transparent antialiased tracking-wider border p-3 outline-none border-gray-400;
  margin-bottom: 17px;
  border-bottom-width: 1px;
}

.CartInput:disabled {
  @apply bg-gray-200 cursor-not-allowed text-gray-600 border-orange-700;
}

.CartInput.invalid {
  @apply border-red-600;
  margin-bottom: 12px;
  border-bottom-width: 6px;
}

.CartInput.invalid::placeholder {
  @apply text-red-600 font-sans;
}

.CartInput:focus {
  @apply shadow-outline bg-blue-100 border-gray-400;
}

select.CartInput {
  -webkit-appearance: none;
}
