// chapter headings
h2 {
  text-align: center;
}

h2 span.line,
.chapter-heading__title span.line {
  display: block;
  line-height: 1.5em;
}

.line-2 {
  font-size: 0.9em;
}

.line-3 {
  font-size: 0.8em;
}

.chapter-heading__sequence {
  font-weight: 400;
}

.chapter-heading__title {
  text-align: center;
  font-weight: 700;
}

.chapter-heading--blurb {

  h2 {
    font-weight: normal;
    font-style: italic;
    text-transform: none;
  }
}

.chapter-subtitle--blurb {
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  text-align: center;
  margin: -1em 0 2.25em;
}

h3 + h4 {
  margin-top: 0;
}

// epigraphs
.epigraphs {
  margin-top: 30%; // not padding-top for mobi7
  text-align: center;
}

.epigraph {
  font-style: italic;

  &__source {
    font-size: 0.9em;
    white-space: nowrap;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  // using sibling selecter doesn't work because of <br class="m7"/> added for mobi
  &--not-first {
    &::before {
      content: "*\00a0\00a0\00a0\00a0\00a0*\00a0\00a0\00a0\00a0\00a0*";
      margin-top: 2.5em;
      padding-bottom: 2em;
      display: block;
    }
  }
}

.verse {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-style: italic;

  &__stanza {
    display: block;
    margin-bottom: 1.5em;
  }

  &__line {
    display: block;
    padding-left: 1.4em;
    text-indent: -1.4em;
    line-height: 1.75em;
  }
}

.signed-section-context-open {
   p {
     margin-top: 2em;
     margin-bottom: 0;
   }

   & + .paragraph {
    margin-top: 0.75em;
   }
}

.signed-section-context-open,
.signed-section-context-close {
  font-style: italic;
  font-size: 0.9em;
}

.signed-section-context-close {
  p {
    margin-bottom: 2.5em;
  }
}

.signed-section-closing {
  p {
    text-align: right;
    margin-top: 0.5em;
  }
}

.signed-section-closing + .signed-section-signature {
  margin-top: -0.5em;
}

.signed-section-context-open + .salutation {
  p {
    margin-top: 0.75em;
  }
}

.signed-section-context-open + .signed-section-context-open {
  p {
    margin-top: 0.1em;
  }
}

.signed-section-signature {
  margin-top: 0.45em;
  margin-bottom: 2.5em;
  font-variant: small-caps;

  p {
    margin-top: 0;
  }
}

.postscript {
  margin-top: -1em;
}

.signed-section-signature,
.signed-section-context-close {

  p {
    text-align: right;
    text-indent: 0;
  }
}

.salutation {

  p {
    margin-bottom: 0.5em;
  }
}

.letter-heading {
  margin: 2.25em 0 0.5em;

  p {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
    text-align: center !important;
    text-indent: 0 !important;
    margin: 0;
  }
}

.letter-heading + .signed-section-context-open {
  margin-top: -0.65em;
}

.signed-section-signature + .signed-section-context-close,
.signed-section-context-close + .signed-section-context-close,
.signed-section-signature + .signed-section-signature {
  margin-top: -2.5em;
}

.paragraph.no-indent p {
  text-indent: 0;
}

/* chicago manual of style says first para of blockquote should not be indented */
blockquote .paragraph:first-of-type p {
  text-indent: 0;
}

.quoteblock.scripture blockquote p {
  font-style: italic;
}

h3.blurb {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.chapter-synopsis p {
  font-style: italic;
  text-align: center;
  font-size: 0.85em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.offset + .signed-section-context-open,
.offset + .salutation {
  margin-top: -0.5em;
}

.offset,
.numbered {

  p {
    text-align: justify;
  }
}

.discourse-part {

  p {
    margin-bottom: 0;
    text-align: justify;
  }
}

.small-break {
  height: 1em;
}

.fn-split {
  display: block;
  height: 0.5em;
}

.the-end {
  text-transform: uppercase;
  margin-top: 3em;

  p {
    text-align: center;
  }
}


h3.old-style {
  margin-top: 2.75em;
  text-align: center;

  span:first-child {
    margin-bottom: 0.5em;
  }

  span {
    display: block;
    line-height: 1.5em;
  }

  span + span {
    font-weight: 400;
    font-style: italic;
  }
}

h3.old-style.bold {

  span + span {
    font-weight: 700;
    font-style: normal;

    em {
      font-style: normal;
    }
  }
}

h3.alt,
h4.alt {
  font-weight: 400;
  font-style: italic;
}

.centered {
  text-align: center !important;
  text-indent: 0 !important;

  > * {
    text-align: center !important;
    text-indent: 0 !important;
  }
}

.emphasized {
  font-style: italic;

  > * {
    font-style: italic;
  }
}

dl {
  margin-top: 1.5em;
}

dt {
  font-weight: 700;
}

.embedded-content-document {
  margin: 1.35em 0 1.35em;
}


.half-title-page .editor {
  font-style: italic;
  text-align: center;
  font-size: 0.65em;
}

.book-title {
  font-style: italic;
}
