// chapter headings
h2 {
  text-align: center;
}

.chapter-heading__sequence {
  font-weight: 400;
}

.chapter-heading__title {
  text-align: center;
  font-weight: 700;
}

.chapter-heading--blurb {

  h2 {
    font-weight: normal;
    font-style: italic;
    text-transform: none;
  }
}


// epigraphs
.epigraphs {
  margin-top: 30%; // not padding-top for mobi7
  text-align: center;
}

.epigraph {
  font-style: italic;

  &__source {
    font-size: 0.9em;
    white-space: nowrap;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  // using sibling selecter doesn't work because of <br class="m7"/> added for mobi
  &--not-first {
    &::before {
      content: "*\00a0\00a0\00a0\00a0\00a0*\00a0\00a0\00a0\00a0\00a0*";
      margin-top: 2.5em;
      padding-bottom: 2em;
      display: block;
    }
  }
}

.verse {
  margin-top: 2em;
  margin-bottom: 2em;
  font-style: italic;

  &__stanza {
    page-break-inside: avoid;
    margin-bottom: 1.5em;
  }

  &__line {
    padding-left: 1.4em;
    text-indent: -1.4em;
    line-height: 1.75em;
  }
}

.signed-section-context-open {
   p {
     margin-top: 2em;
     margin-bottom: 0;
   }

   & + .paragraph {
    margin-top: 0.75em;
   }
}

.signed-section-context-open,
.signed-section-context-close {
  font-style: italic;
  font-size: 0.9em;
}

.signed-section-context-close {
  page-break-before: avoid;
  p {
    margin-bottom: 2.5em;
  }
}

.signed-section-closing {
  p {
    text-align: right;
    margin-top: 0.5em;
  }
}

.signed-section-closing + .signed-section-signature {
  margin-top: -0.5em;
}

.signed-section-context-open + .salutation {
  p {
    margin-top: 0.75em;
  }
}

.signed-section-context-open + .signed-section-context-open {
  p {
    margin-top: 0.1em;
  }
}

.signed-section-signature {
  margin-top: .65em;
  margin-bottom: 2.5em;
  font-variant: small-caps;

  p::before {
    content: "\2014"; // emdash
  }
}

.signed-section-signature,
.signed-section-context-close {

  p {
    text-align: right;
    text-indent: 0;
  }
}

.salutation {

  p {
    margin-bottom: 0.5em;
  }
}

.letter-participants {
  margin: 1.8em 0 1.2em;

  p {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
    text-align: center;
  }
}

.signed-section-signature + .signed-section-context-close {
  margin-top: -2.5em;
}

.paragraph.no-indent p {
  text-indent: 0;
}

/* chicago manual of style says first para of blockquote should not be indented */
blockquote .paragraph:first-of-type p {
  text-indent: 0;
}

h3.alt {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.chapter-synopsis {
  font-style: italic;
  text-align: center;
  font-size: 0.85em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 2em;
}
