.footnote {

  .verse {
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    &__stanza {
      margin-bottom: 0;

      + .verse__stanza {
        margin-top: 0.45em;
      }
    }

    &__line {
      line-height: 1.2em;
    }
  }
}
