.FormatsBlock .Books--lg {
  width: 380px;
  right: 0;
  top: -100px;
  position: absolute !important;
}

.FormatsBlock .Books--sm {
  width: 180px;
  right: -15px;
  position: absolute !important;
  top: 75px;
}

.BookMask--lg {
  float: right;
  height: 470px;
  width: 330px;
  shape-outside: polygon(268px 99.28%, 2.97% 1.75%, 100% 0.25%, 99.7% 99.57%);
}

.BookMask--sm {
  float: right;
  height: 700px;
  width: 130px;
  shape-outside: polygon(
    173px 26.1%,
    59.89% 1.68%,
    126.14% -5.03%,
    113.54% 103.04%,
    47.4% 81.24%,
    132.78% 73.29%,
    29.23% 37.77%
  );
}

@media (min-width: 400px) {
  .FormatsBlock .Books--sm {
    top: -70px;
  }
  .BookMask--sm {
    height: 600px;
    shape-outside: polygon(
      167px 60.53%,
      27.58% 19.69%,
      119.22% 6.54%,
      107.39% 94.73%,
      46.15% 70.51%
    );
  }
}

@media (min-width: 500px) {
  .FormatsBlock .Books--sm {
    right: 0;
  }
  .BookMask--sm {
    height: 500px;
    shape-outside: polygon(
      165px 73.13%,
      16.04% 23.69%,
      127.68% 8.94%,
      108.16% 112.73%,
      43.07% 86.51%
    );
  }
}

@media (min-width: 600px) {
  .FormatsBlock .Books--sm {
    width: 200px;
    top: -140px;
  }
  .BookMask--sm {
    height: 400px;
    shape-outside: polygon(169px 91.13%, 127.58% -0.56%, 2.3% 23.01%);
  }
}

@media (min-width: 640px) {
  .BookMask--sm {
    height: 450px;
    shape-outside: polygon(
      171px 74.69%,
      13.73% 12.36%,
      129.99% -5.5%,
      95.85% 117.62%,
      33.07% 90.51%
    );
  }
}

@media (min-width: 880px) {
  .BookMask--lg {
    height: 400px;
    shape-outside: polygon(232px 99.28%, 2.97% 1.75%, 100% 0.25%, 99.7% 99.57%);
  }
}

@screen lg {
  .BookMask--lg {
    height: 350px;
    shape-outside: polygon(210px 99.28%, 2.97% 1.75%, 100% 0.25%, 99.7% 99.57%);
  }
}

@screen xl {
  .BookMask--lg {
    height: 265px;
    shape-outside: polygon(155px 99.28%, 2.97% 1.75%, 100% 0.25%, 99.7% 99.57%);
  }
}

@media (min-width: 1500px) {
  .FormatsBlock {
    padding-left: 10%;
  }
}

@media (min-width: 1680px) {
  .BookMask--lg {
    height: 205px;
    shape-outside: polygon(120px 99.28%, 2.97% 1.75%, 100% 0.25%, 99.7% 99.57%);
  }
}
