@page {
  size: 12.9cm 19.8cm; /* 5.5in x 8.5in for large books */
  margin-top: 0.5in;
  margin-bottom: 0.7in;

  @footnotes {
    background: url(line.svg) no-repeat top left;
    padding-left: 12pt;
    padding-top: 6pt;
    margin-top: 8px;
    footnote-style-position: outside;
  }

  @bottom-center {
    content: counter(page);
    font-size: 9pt;
    padding: 0 !important;
    vertical-align: text-top;
    margin-top: 5pt;
  }
}

@page:left {
    margin-left: 0.75in;
    margin-right: 0.55in;

    @top-center {
      font-size: 8pt;
      font-style: italic;
      content: string(chapter, last);
    }
}

@page:right {
    margin-left: 0.55in;
    margin-right: 0.75in;

    @top-center {
      font-size: 8pt;
      font-style: italic;
      content: "{{{ header.title }}}";
    }
}

@page:first {
  @top-center {
    content: normal;
  }
}

body {
  font-family: Georgia, serif;
  font-size: 10.6pt;
}

p {
  line-height: 139%;
}

div.paragraph p {
  text-indent: 1.75em;
  text-align: justify;
  margin: 0;
}

.footnote + .footnote {
  margin-top: 3pt;
}

h2 {
  margin-top: 160pt;
  margin-bottom: 24pt;
  text-align: center;
  font-size: 12pt;
  prince-page-group: start; /* allows to target @page:first for pages starting chapters */
  string-set: chapter content();
}

h2 span {
  display: block;
}

span.chapter-title__prefix {
  font-size: 11pt;
  font-weight: 400;
  margin-bottom: 3pt;
}

span.chapter-title__body {
  string-set: chapter content();
}

#footnotes {
  display: none;
}

*::footnote-call {
    content: counter(footnote);
    font-size: 83%;
    vertical-align: super;
    line-height: none
}

*::footnote-marker {
  content: counter(footnote);
  padding-right: 7pt;
  font-size: 10px;
  opacity: 0.9;
}

.footnote {
  font-size: 11.5px;
  line-height: 113%;
  float: footnote;
  text-indent: 0;
}
