@font-face {
  font-family: 'proximanova-light';
  src:
    url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: proximanova-light, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  text-size-adjust: 100%;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.App--slideover-open {
  overflow: hidden;
}

.App--slideover-open #Slideover,
.App--slideover-transitioning #Slideover {
  display: block;
}

.App--slideover-open #StickyNav,
.App--slideover-open #App__Content {
  transform: translateX(255px);
}

#StickyNav,
#App__Content {
  transition: transform 0.3s;
}

.App--slideover-transitioning {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.d-none {
  display: none;
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

p.lead {
  font-size: 1.2em;
  font-style: italic;
}

blockquote {
  font-style: italic;
}
